$secondaryColor: #faaf5a;
$primaryColor: #292C2C;
$smallBreak: 576px;
$mediumBreak: 990px;
$largeBreak: 1440px;
$navBarHeight: 70px;

@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');

// Funcion para agregar propiedades responsive
@mixin propertiesForMaxWidth($width, $propertiesMap){
    @media screen and (max-width:$width){
        @each $property, $value in $propertiesMap {
            #{$property} : $value;
        }
    }
}

@keyframes upDownAnimation {
    50%     {bottom: -25px;}
}

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
// Propiedades usadas globalmente
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

.downArrowIcon{
    color: $secondaryColor;
    text-align: center;
    font-size:2.5em;
    position: relative;
    bottom: 0px;
    animation-name: upDownAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

*{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(243, 243, 243);
}

main{
    padding-top: $navBarHeight;
}

h1{
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 0px 10px black;
    p{
        font-family: 'Oswald', sans-serif;
        color: white;
    }    
    .letterSpace{
        letter-spacing: 3px;
    }
    strong{
        color: $secondaryColor;
    }
}

h2{
    font-size: 1.7em;
    font-weight: 400;
    text-shadow: 0px 0px 10px black;
    text-align: center;
    margin: 0px;
    p{
        font-family: 'Oswald', sans-serif;
        color: white;
    }
    strong{
        color: $secondaryColor;
    }
}

h3{
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    color: $primaryColor;

    strong{
        color: $secondaryColor;
    }
}

h4{
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    color: $primaryColor;
    
    strong{
        color: $secondaryColor;
    }
}

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
// Propiedades de la barra de navegacion
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

.brandLogo{    
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 2em;
}

#myNavBarStyle{
    background-color: $primaryColor !important;
    box-shadow: 0px 10px 10px 0px #00000075;
    height: $navBarHeight;

    @include propertiesForMaxWidth($largeBreak,(  
        "padding-left": 0px,
        "padding-right": 0px
    ) );

    .navbar-toggler{
        margin-right: 20px;
    }
    
    .brandLogo{
        padding-left: 30px;
    }

    a{
        color: white;
    }

    .nav-item{
        margin: 0 2.2vw;
        background-color: $primaryColor !important;

        @media screen and (min-width: $largeBreak) {
            &{
                margin: 0 4vw;
            }
        }

        @include propertiesForMaxWidth($mediumBreak, (
            "text-align":center,
            "padding":0px,
            "margin":0px
        ));



        &:hover{
            a{
                color: $secondaryColor;
            }
        }
    }

    #demoItem{
        background-color: #fda23b;
        padding: 0 10px;
        margin-right: 30px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 0px #00000075;
        transition: all 0.3s;

        &:hover{
            transform: translateY(4px);
            box-shadow: 1px 1px 1px 0px #00000075;
        }
    }
}

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
// Propiedades del Index
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

.fullVhBgImage {
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;    

    // Para mobile desactiva el attachment fixed para la compatibilidad con iOs
    @include propertiesForMaxWidth($mediumBreak,
        ("background-attachment": scroll));  
}

.bgDarkLayer {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}

#indexMainBg{
    background-image: url("../img/indexbg.jpg");

    // Para mobile carga una imagen mas liviana 
    @include propertiesForMaxWidth($mediumBreak,
        ("background-image": url("../img/indexbgmobile.jpg")));  

    .row{        
        align-items: center;
    }      
        
    .showMobile{
        display: none;
        @include propertiesForMaxWidth($smallBreak, ("display": block))
    }

    .hideMobile {
        @include propertiesForMaxWidth($smallBreak, ("display": none))
    }

    #indexDownArrows{
        bottom: 0px;
        right: -50%;
    }
}

#mainFeaturesCards{
    padding: 80px 20px;
    
    h3, h4{
        padding-bottom: 20px;
    }
    .row{
        align-items: center;
    }

    #myCardsRow{
        margin: 20px 10px;
        .myCard{  
            box-shadow: 0px 0px 5px 0px #00000075;
            border-radius: 10px;
            padding: 30px 20px;
            margin: 20px 0px;
            background-color: white;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;         
            text-align: center;
            height: 300px;
            
            transition: all 0.3s;

            &:hover{                
                box-shadow: 5px 5px 20px 0px #00000075;
            }

            &Ico{      
                i{
                    color: $secondaryColor;
                    font-size: 5em;
                }
            }

            &Tittle{        
                p{
                    font-size: 1.2em;
                    font-weight: 700;
                    color: $primaryColor;  
                }
            }

            &Desc{  
                p{
                    font-size: 1em;
                    font-weight: 500;
                    color: $secondaryColor;   
                }              
            }
        }
    }
}

#ourClients{    
    background-image: url("../img/clientsbg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    padding: 0px;

    @include propertiesForMaxWidth($mediumBreak, ("background-attachment": scroll));

    .darkLayer{     
        padding: 80px 20px;
        align-items: center;   
        background-color: rgba(29, 29, 29, 0.8);
        width: 100%;
        height: 100%;

        h3{
            color: $secondaryColor;
        }

        h4{
            color: white;
        }
    }

    #clientsLogosRow{
        margin: 50px 50px 10px 50px;
        .clientView{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;

            @include propertiesForMaxWidth($mediumBreak, 
                ("margin":30px 0,
                "padding": 20px 0));

                
            img {
                height: 150px;
                width: 150px;
            }

            .clientName {
                padding: 5px;
                margin-top: 10px;
                border-radius: 10px;
                text-align: center;   
                p{
                    color: white; 
                }      
            }
        }
    }
}

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
// Propiedades de Nuestra app
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

#appInfoMainBg{
    background-image: url("../img/appbg.jpg");

    // Para mobile carga una imagen mas liviana 
    @include propertiesForMaxWidth($smallBreak,
        ("background-image": url("../img/appbgmobile.png")));  

    .row{        
        align-items: flex-end;
        padding-bottom: 50px;
    }      
        
    .showMobile{
        display: none;
        @include propertiesForMaxWidth($smallBreak, ("display": block))
    }

    .hideMobile {
        @include propertiesForMaxWidth($smallBreak, ("display": none))
    }
}

#appInfoSection{
    margin-top: 80px;
    margin-bottom: 80px;

    #appInfoSectionTittle{
        margin-bottom: 50px;
    }

    .row{
        margin: 100px 0;
        align-items: center;

        p{
            text-align: justify;
            margin: 15px 0;
        }
    }

    #appInforExcersiceImg {
        width: 100%;
    }
}

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
// Propiedades de las membresias
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

#mainSectionPricing{
    margin-top: 50px;
    padding: 80px 20px;
    #pricingCardsRow{
        text-align: center;
        margin-top: 30px;

        .col-md-4{
            padding: 0px 10px;
        }

        .pricingCard{
            box-shadow: 5px 5px 20px 0px #00000075;
            border-radius: 10px;
            padding: 30px 20px;
            margin: 20px 0px;
            background-color: white;

            .pricingCardTitle{
                font-size: 2.5em;
                font-weight: bolder;
            }

            .pricingCardCost{
                font-size: 1.7em;

                .pricingCardCostFreeTrial{
                    font-size: 0.5em;
                }
            }

            .pricingCardFeatures{
                text-align: left;
                margin-top: 20px;
                li{
                    margin: 10px 0;
                    font-weight: normal;

                    strong{
                        text-shadow: 0.5px 0.5px 2px $secondaryColor;
                    }

                    &::before{
                        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                        color: $secondaryColor; /* Change the color */
                        font-weight: bold; /* If you want it to be bold */
                        display: inline-block; /* Needed to add space between the bullet and the text */
                        width: 1.5em; /* Also needed for space (tweak if needed) */
                        margin-left: 0em; /* Also needed for space (tweak if needed) */
                    }
                }
            }

            .pricingCardPurchase{
                margin-top: 30px;
                a{            
                    position: relative;        
                    background-color: $secondaryColor;
                    padding: 10px 30px;
                    border-radius: 20px;
                    box-shadow: 1px 1px 5px 0px #00000075;
                    transition: all 0.3s;
                    text-decoration: none;
                    color: white;
                
                    &:hover{
                        transform: translateY(4px);
                        box-shadow: 0.5px 0.5px 1px 0px #00000075;
                    }
                }
            }
        }
    }
}


///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
// Propiedades del about us
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

#aboutusMainbg{
    background-image: url("../img/aboutusbg.jpg");
    height: 100vh;
    background-position-y: center;

    .row{
        align-items: flex-end;
        padding-bottom: 50px;
    }
}

#aboutUsHistorySection {
    padding: 50px 30px;
    // margin-bottom: 50px;

    #aboutUsHistoryHeader{
        padding-bottom: 50px;
    }

    p{
        text-align: justify;
        padding: 10px 30px;

        strong{
            color: $secondaryColor;
            font-weight: 900;
        }
    }

    .historyImg {
        padding: 30px;
        text-align: center;
        img {
            width: 100%;
            padding: 5px;
            border-radius: 2px;
            border: 1px solid #8b8a8a;
        }
    }
    
    .historySecondImg{
        padding: 30px;
        text-align: center;
        img {
            width: 350px;
            padding: 5px;
            border-radius: 2px;
            border: 1px solid #8b8a8a;
        }
    }
}


///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
// Propiedades de contact
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

#mainSectionContact{
    margin-top: 50px;
    padding: 80px 20px;

    #locationInfo{
        margin-top: 20px;
        p {
            text-align: center;
        }
    }
    
    #mapContainer{  
        margin-top: 50px; 
        

        #map{
            width: 100%;
            height: 300px;
        }
        h4{
            padding-bottom: 20px;
        }
    }

    #contactForm{
        margin-top: 50px;

        h4{
            padding-bottom: 20px;
        }

        #contactButtonContainer{
            display: flex;
            justify-content: center;

            button{
                background-color: #fda23b;
                border: none;
                text-align: center;
                padding: 5px 15px;
                border-radius: 10px;
                box-shadow: 5px 5px 5px 0px #00000075;
                transition: all 0.3s;
        
                &:hover{
                    transform: translateY(4px);
                    box-shadow: 1px 1px 1px 0px #00000075;
                }
            }
        }
    }
}  

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
// Propiedades del footer
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

footer{
    background-color: $primaryColor;
    
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 30px 0px;
    color: white; 

    #footer{
        &MobileDownload {
            p{
                font-size: 1em;
            }
            img{
                width: 150px;
                margin: 10px;
            }
        }
        
        &SocialMedia{
            ul{
                display: inline-flex;
                li{
                    padding: 20px;

                    i{
                        color: white;
                    }
                    
                    &:hover {                        
                        cursor: pointer;
                        
                        i {
                        color: $secondaryColor;
                        }
                    }
                }
            }
        }

        &Copyright p{
            font-size: 0.8em;
        }
    }
}