@charset "UTF-8";
/* --
CSS Reseter
CSSLab � 2010 by Jorge Epu�an
http://www.csslab.cl/2010/06/01/css-reseter-v2/
-- */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, header, footer, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
}

.container-fluid, .row {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

article, aside, nav, section, dialog, figure, header, footer, hgroup {
  display: block;
}

legend {
  display: none;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

a img, iframe {
  border: none;
}

ul {
  list-style: none;
}

input, textarea, select, button {
  font-size: 100%;
  font-family: inherit;
}

input, select {
  vertical-align: middle;
}

select {
  margin: inherit;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

/* Fixes incorrect placement of numbers in ol's in IE6/7 */
ol {
  margin-left: 2em;
}

/* ========================================= clearfix == */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 0px 10px black;
}

h1 p {
  font-family: 'Oswald', sans-serif;
  color: white;
}

h1 .letterSpace {
  letter-spacing: 3px;
}

h1 strong {
  color: #faaf5a;
}

h2 {
  font-size: 1.7em;
  font-weight: 400;
  text-shadow: 0px 0px 10px black;
  text-align: center;
  margin: 0px;
}

h2 p {
  font-family: 'Oswald', sans-serif;
  color: white;
}

h2 strong {
  color: #faaf5a;
}

h3 {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  color: #292C2C;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  color: #292C2C;
}

h4 strong {
  color: #faaf5a;
}

.brandLogo {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-size: 2em;
}

#myNavBarStyle {
  background-color: #292C2C !important;
  -webkit-box-shadow: 0px 10px 10px 0px #00000075;
          box-shadow: 0px 10px 10px 0px #00000075;
  padding: 2vh 5%;
  height: 70px;
}

#myNavBarStyle a {
  color: white;
}

#myNavBarStyle .nav-item {
  margin: 0 1.3vw;
}

@media screen and (min-width: 1440px) {
  #myNavBarStyle .nav-item {
    margin: 0 3vw;
  }
}

#myNavBarStyle .nav-item:hover a {
  color: #faaf5a;
}

#myNavBarStyle #demoItem {
  background-color: #fda23b;
  padding: 0 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px 0px #00000075;
          box-shadow: 5px 5px 5px 0px #00000075;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#myNavBarStyle #demoItem:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 1px 1px 1px 0px #00000075;
          box-shadow: 1px 1px 1px 0px #00000075;
}

main {
  padding-top: 70px;
}

.fullVhBgImage {
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
}

@media screen and (max-width: 768px) {
  .fullVhBgImage {
    background-attachment: scroll;
  }
}

.fullVhBgImage .bgDarkLayer {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}

#indexMainBg {
  background-image: url("../img/indexbg.jpg");
}

@media screen and (max-width: 768px) {
  #indexMainBg {
    background-image: url("../img/indexbgmobile.jpg");
  }
}

#indexMainBg .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#indexMainBg .showMobile {
  display: none;
}

@media screen and (max-width: 576px) {
  #indexMainBg .showMobile {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  #indexMainBg .hideMobile {
    display: none;
  }
}

#mainFeaturesCards {
  padding: 80px 20px;
}

#mainFeaturesCards h3, #mainFeaturesCards h4 {
  padding-bottom: 20px;
}

#mainFeaturesCards .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainFeaturesCards #myCardsRow {
  margin: 20px 10px;
}

#mainFeaturesCards #myCardsRow .myCard {
  -webkit-box-shadow: 5px 5px 20px 0px #00000075;
          box-shadow: 5px 5px 20px 0px #00000075;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  height: 300px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#mainFeaturesCards #myCardsRow .myCardIco i {
  color: #faaf5a;
  font-size: 5em;
}

#mainFeaturesCards #myCardsRow .myCardTittle p {
  font-size: 1.2em;
  font-weight: 700;
  color: #292C2C;
}

#mainFeaturesCards #myCardsRow .myCardDesc p {
  font-size: 1em;
  font-weight: 500;
  color: #faaf5a;
}

#ourClients {
  background-image: url("../img/clientsbg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  padding: 0px;
}

@media screen and (max-width: 768px) {
  #ourClients {
    background-image: url("../img/200458.jpg");
    background-attachment: scroll;
  }
}

#ourClients .darkLayer {
  padding: 80px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(29, 29, 29, 0.8);
  width: 100%;
  height: 100%;
}

#ourClients .darkLayer h3 {
  color: #faaf5a;
}

#ourClients .darkLayer h4 {
  color: white;
}

#ourClients #clientsLogosRow {
  margin: 50px 50px 10px 50px;
}

#ourClients #clientsLogosRow .clientView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media screen and (max-width: 768px) {
  #ourClients #clientsLogosRow .clientView {
    margin: 30px 0;
    padding: 20px 0;
  }
}

#ourClients #clientsLogosRow .clientView img {
  height: 150px;
  width: 150px;
}

#ourClients #clientsLogosRow .clientView .clientName {
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
}

#ourClients #clientsLogosRow .clientView .clientName p {
  color: white;
}

#mainSectionPricing {
  margin-top: 50px;
  padding: 80px 20px;
}

#mainSectionPricing #pricingCardsRow {
  text-align: center;
  margin-top: 30px;
}

#mainSectionPricing #pricingCardsRow .col-md-4 {
  padding: 0px 10px;
}

#mainSectionPricing #pricingCardsRow .pricingCard {
  -webkit-box-shadow: 5px 5px 20px 0px #00000075;
          box-shadow: 5px 5px 20px 0px #00000075;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 20px 0px;
}

#mainSectionPricing #pricingCardsRow .pricingCard .pricingCardTitle {
  font-size: 2.5em;
  font-weight: bolder;
}

#mainSectionPricing #pricingCardsRow .pricingCard .pricingCardCost {
  font-size: 1.7em;
}

#mainSectionPricing #pricingCardsRow .pricingCard .pricingCardCost .pricingCardCostFreeTrial {
  font-size: 0.5em;
}

#mainSectionPricing #pricingCardsRow .pricingCard .pricingCardFeatures {
  text-align: left;
  margin-top: 20px;
}

#mainSectionPricing #pricingCardsRow .pricingCard .pricingCardFeatures li {
  margin: 10px 0;
  font-weight: normal;
}

#mainSectionPricing #pricingCardsRow .pricingCard .pricingCardFeatures li strong {
  text-shadow: 0.5px 0.5px 2px #faaf5a;
}

#mainSectionPricing #pricingCardsRow .pricingCard .pricingCardFeatures li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #faaf5a;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1.5em;
  /* Also needed for space (tweak if needed) */
  margin-left: 0em;
  /* Also needed for space (tweak if needed) */
}

#mainSectionPricing #pricingCardsRow .pricingCard .pricingCardPurchase {
  margin-top: 30px;
}

#mainSectionPricing #pricingCardsRow .pricingCard .pricingCardPurchase a {
  position: relative;
  background-color: #faaf5a;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 5px 0px #00000075;
          box-shadow: 1px 1px 5px 0px #00000075;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: white;
}

#mainSectionPricing #pricingCardsRow .pricingCard .pricingCardPurchase a:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0.5px 0.5px 1px 0px #00000075;
          box-shadow: 0.5px 0.5px 1px 0px #00000075;
}

#aboutusMainbg {
  background-image: url("../img/aboutusbg.jpg");
  height: 75vh;
  background-position-y: center;
}

#aboutusMainbg .row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#aboutusMainbg .row #aboutUsDownArrows {
  color: #faaf5a;
  text-align: center;
  font-size: 2.5em;
  position: relative;
  bottom: 0px;
  -webkit-animation-name: upDownAnimation;
          animation-name: upDownAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes upDownAnimation {
  50% {
    bottom: -25px;
  }
}

@keyframes upDownAnimation {
  50% {
    bottom: -25px;
  }
}

#aboutUsHistorySection {
  padding: 0px 30px;
}

#aboutUsHistorySection #aboutUsHistoryHeader {
  padding: 50px 0;
}

#aboutUsHistorySection p {
  text-align: justify;
  padding: 10px 30px;
}

#aboutUsHistorySection .historyImg {
  padding: 30px;
  text-align: center;
}

#aboutUsHistorySection .historyImg img {
  width: 100%;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #8b8a8a;
}

#aboutUsHistorySection .historySecondImg {
  padding: 30px;
  text-align: center;
}

#aboutUsHistorySection .historySecondImg img {
  width: 350px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #8b8a8a;
}

footer {
  background-color: #292C2C;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  padding: 30px 0px;
  color: white;
}

footer #footerMobileDownload p {
  font-size: 1em;
}

footer #footerMobileDownload img {
  width: 150px;
  margin: 10px;
}

footer #footerSocialMedia ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer #footerSocialMedia ul li {
  padding: 20px;
}

footer #footerSocialMedia ul li i {
  color: white;
}

footer #footerSocialMedia ul li:hover {
  cursor: pointer;
}

footer #footerSocialMedia ul li:hover i {
  color: #faaf5a;
}

footer #footerCopyright p {
  font-size: 0.8em;
}
/*# sourceMappingURL=styles.css.map */