@charset "UTF-8";
/* --
CSS Reseter
CSSLab � 2010 by Jorge Epu�an
http://www.csslab.cl/2010/06/01/css-reseter-v2/
-- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, header, footer, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
}

article, aside, nav, section, dialog, figure, header, footer, hgroup {
  display: block;
}

legend {
  display: none;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

a img, iframe {
  border: none;
}

ul {
  list-style: none;
}

input, textarea, select, button {
  font-size: 100%;
  font-family: inherit;
}

input, select {
  vertical-align: middle;
}

select {
  margin: inherit;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

/* Fixes incorrect placement of numbers in ol's in IE6/7 */
ol {
  margin-left: 2em;
}

/* ========================================= clearfix == */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

* {
  font-family: 'Open Sans', sans-serif;
  color: white;
  scroll-behavior: smooth;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  text-align: right;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 9vw;
    text-align: center;
  }
}

h2 {
  font-size: 1.7em;
  font-weight: 700;
  color: #faaf5a;
  text-shadow: 0px 0px 10px black;
  text-align: right;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 4vw;
    text-align: center;
  }
}

h3 {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  color: #292C2C;
}

h4 {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  color: #292C2C;
}

.brandLogo {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-size: 2em;
}

#myNavBarStyle {
  background-color: #292C2C !important;
  -webkit-box-shadow: 0px 10px 10px 0px #00000075;
          box-shadow: 0px 10px 10px 0px #00000075;
  padding: 2vh 5%;
}

#myNavBarStyle a {
  color: white;
}

#myNavBarStyle .nav-item {
  margin: 0 1.3vw;
}

@media screen and (min-width: 1440px) {
  #myNavBarStyle .nav-item {
    margin: 0 3vw;
  }
}

#myNavBarStyle .nav-item:hover a {
  color: #faaf5a;
}

#myNavBarStyle #demoItem {
  background-color: #fda23b;
  padding: 0 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px 0px #00000075;
          box-shadow: 5px 5px 5px 0px #00000075;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#myNavBarStyle #demoItem:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 1px 1px 1px 0px #00000075;
          box-shadow: 1px 1px 1px 0px #00000075;
}

#bgMain {
  margin-top: 10vh;
  height: 90vh;
  background-image: url("../img/223alt.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
}

@media screen and (max-width: 768px) {
  #bgMain {
    background-attachment: scroll;
  }
}

#bgMain .grayLayer {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

#bgMain .grayLayer .row {
  padding-top: 20vh;
  height: 100%;
}

#bgMain .grayLayer .row h1, #bgMain .grayLayer .row h2 {
  margin: 30px 4vw;
}

@media screen and (max-width: 768px) {
  #bgMain .grayLayer .row h1, #bgMain .grayLayer .row h2 {
    margin: 30px 0px;
  }
}

#bgMain .grayLayer .row h1 strong, #bgMain .grayLayer .row h2 strong {
  color: #faaf5a;
}

#mainFeaturesCards {
  padding: 80px 20px;
}

#mainFeaturesCards h3, #mainFeaturesCards h4 {
  padding-bottom: 20px;
}

#mainFeaturesCards .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainFeaturesCards #myCardsRow {
  margin: 20px 10px;
}

#mainFeaturesCards #myCardsRow .myCard {
  -webkit-box-shadow: 5px 5px 20px 0px #00000075;
          box-shadow: 5px 5px 20px 0px #00000075;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  height: 300px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#mainFeaturesCards #myCardsRow .myCardIco i {
  color: #faaf5a;
  font-size: 5em;
}

#mainFeaturesCards #myCardsRow .myCardTittle p {
  font-size: 1.2em;
  font-weight: 500;
  color: #292C2C;
}

#mainFeaturesCards #myCardsRow .myCardDesc p {
  font-size: 1em;
  font-weight: 500;
  color: #faaf5a;
}

#ourClients {
  padding: 80px 20px;
}

footer {
  background-color: #292C2C;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  padding: 30px 0px;
}

footer #footerMobileDownload p {
  font-size: 1em;
}

footer #footerMobileDownload img {
  width: 150px;
  margin: 10px;
}

footer #footerSocialMedia ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer #footerSocialMedia ul li {
  padding: 20px;
}

footer #footerSocialMedia ul li:hover i {
  color: #faaf5a;
}

footer #footerCopyright p {
  font-size: 0.8em;
}
/*# sourceMappingURL=styles.css.map */