$secondaryColor: #faaf5a;
$primaryColor: #292C2C;
$smallBreak: 576px;
$mediumBreak: 768px;
$largeBreak: 1440px;
$navBarHeight: 70px;

@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');

// Funcion para agregar propiedades responsive para mobile a elementos
@mixin propertiesForMaxWidth($width, $propertiesMap){
    @media screen and (max-width:$width){
        @each $property, $value in $propertiesMap {
            #{$property} : $value;
        }
    }
}

body{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

h1{
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 0px 10px black;
    p{
        font-family: 'Oswald', sans-serif;
        color: white;
    }    
    .letterSpace{
        letter-spacing: 3px;
    }
    strong{
        color: $secondaryColor;
    }
}

h2{
    font-size: 1.7em;
    font-weight: 400;
    text-shadow: 0px 0px 10px black;
    text-align: center;
    margin: 0px;
    p{
        font-family: 'Oswald', sans-serif;
        color: white;
    }
    strong{
        color: $secondaryColor;
    }
}


h3{
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    color: $primaryColor;
}

h4{
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    color: $primaryColor;
}

.brandLogo{    
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 2em;
}

#myNavBarStyle{
    background-color: $primaryColor !important;
    box-shadow: 0px 10px 10px 0px #00000075;
    padding: 2vh 5%;
    height: $navBarHeight;

    a{
        color: white;
    }

    .nav-item{
        margin: 0 1.3vw;

        @media screen and (min-width: $largeBreak) {
            &{
                margin: 0 3vw;
            }
        }

        &:hover{
            a{
                color: $secondaryColor;
            }
        }
    }

    #demoItem{
        background-color: #fda23b;
        padding: 0 10px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 0px #00000075;
        transition: all 0.3s;

        &:hover{
            transform: translateY(4px);
            box-shadow: 1px 1px 1px 0px #00000075;
        }
    }
}

#bgMain{
    height: 100vh;
    background-image: url("../img/223alt.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;

    // Para mobile carga una imagen mas liviana 
    @include propertiesForMaxWidth($mediumBreak,
        ("background-image": url("../img/223mobile.jpg"),
        "background-attachment": scroll));

    .bgMainLayer {
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        align-content: center;
        padding-bottom: $navBarHeight/2;
        
        .showMobile{
            display: none;
            @include propertiesForMaxWidth($smallBreak, ("display": block))
        }

        .hideMobile {
            @include propertiesForMaxWidth($smallBreak, ("display": none))
        }
    }
}

#mainFeaturesCards{
    padding: 80px 20px;
    
    h3, h4{
        padding-bottom: 20px;
    }
    .row{
        align-items: center;
    }

    #myCardsRow{
        margin: 20px 10px;
        .myCard{  
            box-shadow: 5px 5px 20px 0px #00000075;
            border-radius: 10px;
            padding: 30px 20px;
            margin: 20px 0px;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;         
            text-align: center;
            height: 300px;
            
            transition: all 0.3s;

            &:hover{
                
            }

            &Ico{      
                i{
                    color: $secondaryColor;
                    font-size: 5em;
                }
            }

            &Tittle{        
                p{
                    font-size: 1.2em;
                    font-weight: 700;
                    color: $primaryColor;  
                }
            }

            &Desc{  
                p{
                    font-size: 1em;
                    font-weight: 500;
                    color: $secondaryColor;   
                }              
            }
        }
    }
}

#ourClients{    
    background-image: url("../img/200458.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    padding: 0px;

    @include propertiesForMaxWidth($mediumBreak, 
        ("background-image": url("../img/200458.jpg"),
        "background-attachment": scroll));

    .darkLayer{     
        padding: 80px 20px;
        align-items: center;   
        background-color: rgba(29, 29, 29, 0.8);
        width: 100%;
        height: 100%;

        h3{
            color: $secondaryColor;
        }

        h4{
            color: white;
        }
    }

    #clientsLogosRow{
        margin: 50px 50px 10px 50px;
        .clientView{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;

            @include propertiesForMaxWidth($mediumBreak, 
                ("margin":30px 0,
                "padding": 20px 0));

                
            img {
                height: 150px;
                width: 150px;
            }

            .clientName {
                padding: 5px;
                margin-top: 10px;
                border-radius: 10px;
                text-align: center;   
                p{
                    color: white; 
                }      
            }
        }
    }
}

footer{
    background-color: $primaryColor;
    
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 30px 0px;
    color: white; 

    #footer{
        &MobileDownload {
            p{
                font-size: 1em;
            }
            img{
                width: 150px;
                margin: 10px;
            }
        }
        
        &SocialMedia{
            ul{
                display: inline-flex;
                li{
                    padding: 20px;

                    i{
                        color: white;
                    }
                    
                    &:hover {                        
                        cursor: pointer;
                        
                        i {
                        color: $secondaryColor;
                        }
                    }
                }
            }
        }

        &Copyright p{
            font-size: 0.8em;
        }
    }
}