$primaryPink: #ff6978;
$primaryBlue: rgb(40, 48, 73);
$mediumBreak: 768px;
$largeBreak: 992px;

@import "reset";

*{
    font-family: 'Oxygen', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

h1{
    font-size: 3em;
    font-weight: 500;
    text-align: center; 
}

h2{
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    color: $primaryPink;
    text-shadow: 0px 0px 10px black;
}

h3{
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    color: $primaryBlue;
}

h4{
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    color: $primaryBlue;
}

#myNavBarStyle{
    background-color: rgb(40, 48, 73) !important;
    box-shadow: 0px 10px 10px 0px #00000075;
    padding: 2vh 5%;

    a{
        color: white;
    }

    #brand-logo{
        font-family: 'Permanent Marker', cursive;
        font-weight: 100;
        font-size: 2em;
    }

    .nav-item{
        margin: 0 2vw;
    }

    #demoItem{
        background-color: $primaryPink;
        padding: 0 10px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 0px #00000075;
        transition: all 0.3s;

        &:hover{
            transform: translateY(4px);
            box-shadow: 1px 1px 1px 0px #00000075;
        }
    }
}

#bgMain{
    margin-top: 10vh;
    height: 90vh;
    background-image: url("../img/200548.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;

    .grayLayer{
        background-color: rgba(1, 1, 26, 0.6);
        width: 100%;
        height: 100%;

        .row{
            padding-top: 20vh;
            height: 100%;
        }
    }
}

#mainFeaturesCards{
    padding: 80px 20px;
    
    h3, h4{
        padding-bottom: 20px;
    }
    .row{
        align-items: center;
    }

    #myCardsRow{
        margin: 20px 10px;
        .myCard{  
            box-shadow: 5px 5px 20px 0px #00000075;
            border-radius: 10px;
            padding: 30px 20px;
            margin: 20px 0px;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;         
            text-align: center;
            height: 300px;
            
            transition: all 0.3s;

            &:hover{
                
            }

            &Ico{      
                i{
                    color: $primaryPink;
                    font-size: 5em;
                }
            }

            &Tittle{        
                p{
                    font-size: 1.2em;
                    font-weight: 500;
                    color: $primaryBlue;  
                }
            }

            &Desc{  
                p{
                    font-size: 1em;
                    font-weight: 500;
                    color: $primaryPink;   
                }              
            }
        }
    }
}

footer{
    background-color: $primaryBlue;

    .row{
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        padding: 30px 0px;

        #footerLinks{
            ul{
                display: inline-flex;
                justify-content: center;
                flex-wrap: wrap;
                li{
                    padding: 10px 20px;
                }
            }
        }
        
        a{
            color: white;
            text-decoration: none;
        }
        
        .brandLogo{
            font-family: 'Permanent Marker', cursive;
            font-weight: 100;
            font-size: 2em;
        }
        
        #footerSocialMediaLinks{
            ul{
                display: inline-flex;
                li{
                    padding: 20px
                }
            }
        }
    }
}